/* .characteristic-row {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.characteristic-card-wrapper {
  background: #fbfbfb;
  border: 1px solid #ececec;
  border-radius: 20px;
  padding: 1.5rem;
  margin: 0 0.3rem;
  width: 19%;
  height: 290px;
}

.characteristic-title {
  display: flex;
  margin-bottom: 1rem;
}

.characteristic-title img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.even {
  position: relative;
  top: 80px;
}

@media screen and (max-width: 950px) {
  .characteristic-card-wrapper {
    padding: 1.5rem;
    margin: 0.5rem 0;
    width: 95%;
    height: 100%;
  }

  .even {
    top: 0;
  }

  .characteristic-row {
    width: 80vw;
    justify-content: space-between;
  }
}
