.header-wrapper {
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  color: #fff;
  object-fit: cover;
  background-position: 60% 100%;
}

.header-wrapper p {
  width: 50%;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
}

.learn-more {
  text-transform: uppercase;
  background: var(--color-gradient);
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px 48px;
  border-radius: 10px;
  margin-top: 2rem;
  font-size: 18px;
}

.learn-more:hover {
  background: var(--color-gradient-darker);
  transition: all 0.3s ease;
}

@media screen and (max-width: 700px) {
  .header-wrapper p {
    width: 60%;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(185, 185, 185);
  }

  .learn-more {
    padding: 12px 24px;
    border-radius: 10px;
    margin-top: 0.7rem;
    font-size: 14px;
  }

  .header-wrapper {
    height: 40vh;
  }
}
