.subheader {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  color: var(--color-gray);
}

.img-text-container {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-wrapper {
  box-shadow: 0px 0px 60px 20px rgba(150, 162, 170, 0.11);
  border-radius: 20px;
  width: 30%;
  height: 450px;
  padding: 1.5rem;
  margin: 0 0.8rem;
}

.img-wrapper h3 {
  line-height: 1.5;
  margin: 1rem 0 8px 0;
  color: var(--color-text);
  text-align: center;
}

.img-wrapper p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.image {
  width: 250px;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  box-shadow: 0px 4px 60px 20px rgba(137, 143, 148, 0.21);
}

.img-hover-wrapper {
  height: 42%;
}

.txt-wrapper {
  height: 58%;
}

.hover-btn-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-hover-wrapper:hover .image {
  opacity: 0.25;
}

.img-hover-wrapper:hover .location-map {
  opacity: 0.25;
  transition: all 0.5s ease-in-out;
}

.img-hover-wrapper:hover .hover-btn-wrapper {
  opacity: 1;
}

.hover-btn {
  background-color: transparent;
  cursor: pointer;
  border: 3px solid var(--color-text);
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.hover-btn:hover {
  color: var(--color-gray);
  border: 3px solid var(--color-gray);
  transition: all 0.25s ease-in-out;
}
