.noise-features-wrapper {
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7% 10%;
}

.toggle-wrapper {
  background-color: #fff;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
  width: 60%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.untoggled-header {
  color: var(--color-gray);
  width: 50%;
  text-align: center;
}

.toggled-header {
  width: 50%;
  text-align: center;
  border-radius: 20px;
  background-color: #6e7f8f;
  color: #fff;
  padding: 8px 0;
  transition: color 0.5s ease-in-out;
}

.fa-check-circle {
  color: var(--color-green);
  line-height: 28px;
}

.features {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 0;
}

.features-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 48%;
}
