.desc-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7% 10%;
}

.desc-wrapper {
  width: 47%;
  padding-right: 2rem;
}

.desc-img-wrapper {
  width: 47%;
  max-width: 420px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px 20px rgba(150, 162, 170, 0.11);
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-img-wrapper img {
  width: 90%;
  max-width: 400px;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 4px 60px 20px rgba(137, 143, 148, 0.21);
}
