.footer-wrapper {
  background-color: rgb(240, 243, 248);
  margin-top: 80px;
  padding: 3.5rem 10%;
}

.footer-logo {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.footer-name-wrapper {
  display: flex;
  align-items: center;
}

.footer-name {
  font-size: 2.5rem;
  color: var(--color-theme);
  font-weight: bold;
}

.footer-col {
  width: 33%;
  flex-direction: column;
  height: 340px;
  padding: 0 16px;
}

.fab {
  border-radius: 50%;
  border: 1px solid rgb(150, 150, 150);
  width: 37px;
  height: 37px;
  font-size: 22px;
  color: var(--color-gray);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.fa-facebook-f:hover {
  color: #3b5998;
  border-color: #3b5998;
  transition: all 0.25s ease-in-out;
}

.fa-linkedin-in:hover {
  color: #0077b5;
  border-color: #0077b5;
  transition: all 0.25s ease-in-out;
}

.fa-twitter:hover {
  color: #1da1f2;
  border-color: #1da1f2;
  transition: all 0.25s ease-in-out;
}

.footer-social {
  display: flex;
  align-items: center;
}

.location-map {
  width: 100%;
  margin-top: 10px;
  opacity: 1;
  border-radius: 16px;
}

.footer-subhead {
  color: var(--color-theme);
  line-height: 50px;
}

hr {
  background-color: rgb(211, 211, 211);
  border: none;
  height: 1px;
}

.copyright {
  font-size: 14px;
  text-align: center;
  line-height: 2;
  font-weight: 300;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.fas {
  font-size: 20px;
  padding-right: 8px;
  color: var(--color-gray);
}

.footer-contact-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fa-envelope {
  margin-top: 12px;
}

@media (min-width: 1150px) {
  .footer-col .hover-btn-wrapper {
    bottom: 60%;
  }
}
