.pdt-img {
  width: 85%;
  height: 300px;
  object-fit: contain;
  background-repeat: no-repeat;
  margin: 10px 0;
}

.noise-pdt {
  width: 27vw;
  height: 430px;
}

.pdt-img-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
