.pdt-img {
  width: 85%;
  height: 300px;
  object-fit: contain;
  background-repeat: no-repeat;
  margin: 10px 0;
}

.noise-pdt {
  width: 27vw;
  height: 430px;
}

.pdt-img-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

@media screen and (max-width: 950px) {
  .products-container {
    margin-top: 1.5rem;
    flex-direction: column;
  }

  .noise-pdt {
    width: 85%;
    height: 100%;
    padding: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .pdt-img {
    width: 65%;
    height: 160px;
  }
}
