:root {
  --font: "Outfit", sans-serif;
  --color-bg: #fff;
  --color-text: #272c49;
  --color-gray: #6e7f8f;
  --color-yellow: #ffa33d;
  --color-border: #ececec;
  --color-green: #29d1af;
  --color-theme: #28a5df;
  --color-theme-darker: #068bc9;
  --color-gradient: linear-gradient(135.43deg, #3bc7fd 0.5%, #176ebb 99.76%);
  --color-gradient-darker: linear-gradient(
    135.43deg,
    var(--color-theme) 0.5%,
    #176ebb 99.76%
  );
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 80px;
  width: 60%;
  margin-bottom: 1rem;
  letter-spacing: 1.2px;
}

h2 {
  color: var(--color-text);
  line-height: 90px;
  font-size: 50px;
  letter-spacing: 1.2px;
}

h3 {
  font-size: 26px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 10px;
}

h4 {
  color: var(--color-theme-darker);
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
}

h5 {
  color: var(--color-text);
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
  font-weight: 300;
}

body {
  background-color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-align-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-col {
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 7%;
}

.blue-divider {
  background: var(--color-gradient);
  width: 85px;
  height: 5px;
  border-radius: 20px;
  margin-top: 50px;
}
