.enquiry-wrapper {
  flex-direction: column;
}

.blue-divider {
  background: var(--color-gradient);
  width: 85px;
  height: 5px;
  border-radius: 20px;
  margin-top: 100px;
}

.submit-enquiry-btn {
  color: white;
  background: var(--color-gradient);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 12px 40px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 25px !important;
  display: flex;
  justify-content: space-between;
}

.enquiry-form {
  width: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 65%;
  padding: 65px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.04);
}
