.enquiry-wrapper {
  flex-direction: column;
}

.submit-enquiry-btn {
  color: white;
  background: var(--color-gradient);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 12px 40px;
  border-radius: 10px;
}

.submit-enquiry-btn:hover {
  background: var(--color-gradient-darker);
  transform: all 0.3s ease-in-out;
}

.form-margin {
  margin-bottom: 25px !important;
  display: flex;
  justify-content: space-between;
}

.enquiry-form {
  width: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 20px;
  width: 65%;
  padding: 65px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 950px) {
  .form-wrapper {
    margin: 1.5rem 0 20px;
    width: 80%;
    padding: 2rem;
  }

  .form-margin {
    flex-direction: column;
    margin: 0 !important;
  }

  .MuiFormControl-root {
    width: 100% !important;
    margin-bottom: 8px !important;
  }
}
